<div class="intro">
    <div class="intro_block">
        <div class="icon"><img src="./images/intro_01.png"></div>
        <div class="line1">定制你的个性</div>
        <div class="line2">orimuse 一个将您的想法变为现实的在线服装定制平台。<br>只需几步，便可化灵感为具象，定制您喜爱的服装。</div>
    </div>
    <div class="intro_block">
        <div class="icon"><img src="./images/intro_02.png"></div>
        <div class="line1">不止于设计</div>
        <div class="line2">orimuse 特色的售卖模式为灵感增值。<br>通过orimuse，你便可以在社交网络上售卖属于您的服装产品<br>创意变现如此简单。</div>
    </div>
    <div class="intro_block">
        <div class="icon"><img src="./images/intro_03.png"></div>
        <div class="line1">一心只为你</div>
        <div class="line2">orimuse 总为您的点滴需求周全考量。<br>从售卖、生产、物流一直到售后服务，orimuse环环精细管理。<br>让您少一点操心，多一些放心。</div>
    </div>
</div>