<div id="footer">
    <div id="footer_warp">
        <div id="f_one">
            <a class="f_one f_one_logo" href="javascript:void(0);" onclick="app.getURL('index')"><img src="/images/bottom_logo.png" height="30"></a>
            <span class="f_one f_one_span"></span>
            <p class="f_one f_one_p">专业服装定制平台</p>
        </div>
        <div id="f_two">
            <ul>
                <li class="f_two"><a href="/about">关于我们</a> </li>
                <li class="f_two"><a href="/copyright_notice">版权声明</a> </li>
                <li id="wechat">
                        <span id="f_wei_chat_img" style="position: relative">
                            <img src="/images/wechat.svg" width="20px" height="20px">
                        </span>官方微信
                    <div class="wechatQR">
                        <p>用微信扫一扫扫描二维码</p>
                        <img src="/images/wechatQR.jpg" width="170">
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="window.open('http://weibo.com/orimuse?is_all=1')">
                    <span id="f_weibo_img">
                         <img src="/images/weibo.svg" width="20px" height="20px">
                    </span>
                        官方微博
                    </a>
                </li>
                <li>联系电话:400-016-3323</li>
            </ul>
        </div>
        <div id="f_three">
            <p>
                版权所有 ©2015 orimuse 沪ICP备14041090-1 || Design by orimuse
            </p>
        </div>
    </div>
</div>